/* Add background image and styling */
/* add p tag styling  */
/* add obstacle and position styling */
/* add text color and styling */

.game {
    margin: 5;
    padding: 5;
    width: 900px;
    height: 500px;
    border: 5px solid blue;
}
/* had to delete animation from character in able to get keyboard events to work but it wont repeat for some reason*/
.character {
    width: 10px;
    height: 20px;
    position: relative;
    top: 480px;
    background-color: black;
}

.animation {
    animation: jump 700ms;
}

/* great document for animations https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */
/* should be able to use top to animate up and down. tested on object. got up to work using - https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation_fill-mode3 */

@keyframes jump {

    /* this one causes it to drop from the top */
    0% {
        top: 480px;
        background-color: yellowgreen;
    }

    /* This one causes a long pause */
    30% {
        top: 410px;
    }

    /* This one reduces the height of the jump */
    40% {
        top: 410px;
    }
    /* This one will hold it in the air longer */
    60% {
        top: 410px;
    }

    /* match the px from the character */
    100% {
        top: 480px;
    }
}

/* Need to add animation - found https://www.w3schools.com/css/css3_animations.asp */

.object {
    width: 10px;
    height: 20px;
    position: relative;
    top: 460px;
    left: 890px;
    background-color: dimgrey;
    animation-name: object;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

}

/* can send objects from the top corners at the player using top: 0px Might want to add that feature? */
@keyframes object {
    0% {
        left: 900px;
        background-color: yellow;
    }

    /* this at anything lower then 100% makes a pong affect */
    100% {
        left: -80px;
    }
}